.*.swp
/.idea/
dist/*
/build/*
/*.conf
kapacitor_linux*
kapacitord_linux*
/*.tick
*~
*#
kapacitor*.rpm
kapacitor*.deb
kapacitor*.tar
kapacitor*.zip
*.pyc
*.test
/test-logs
*.prof
/.idea/

# Ignore any built binaries
/kapacitor
/kapacitord
/tickfmt
/tickdoc

# Ignore go vendor directory
/vendor
