# CircleCI 2.0 configuration
version:  "2.1"

executors:
  linux-amd64:
    machine:
      image: ubuntu-2004:202107-02
      docker_layer_caching: true
      resource_class: large

commands:
  deploy_release_packages:
    description:  >
      This will build and publish release packages for tag "$CIRCLE_TAG"
    steps:
      - when:
          condition:
            and:
              - ${CIRCLE_TAG}
          steps:
            - run:
                name: Import GPG key
                command: |
                  echo -e "$GPG_1X_PRIVATE_KEY" | gpg --import --
            - run:
                name: Deploy Release Packages
                command:  |
                  ./build.sh --debug --clean --generate --package --package-udfs --upload --bucket=dl.influxdata.com/kapacitor/releases --platform=all --arch=all --release --checksum --sign
      - when:
          condition:
            not: ${CIRCLE_TAG}
          steps:
            - run:
                name: Deploy Release Packages
                command:  |
                  ./build.sh --debug --clean --generate --package --package-udfs --upload --bucket=dl.influxdata.com/kapacitor/releases --platform=all --arch=all --release --checksum



  run_tests:
    description:  >
      This will run Kapacitor Tests
    steps:
      - run:
          name: Running Kapacitor Tests
          no_output_timeout: 30m
          command:  |
            ./circle-test.sh
  deploy_nightly:
    description:  >
      This will build and publish nightly releases
    steps:
      - run:
          name: Deploy Nightly Build
          command:  |
            ./build.sh --debug --clean --generate --package --package-udfs --upload --bucket=dl.influxdata.com/kapacitor/releases/nightly --platform=all --arch=all --nightly

jobs:
  build:
    executor: linux-amd64
    parallelism: 2
    working_directory: ~/kapacitor
    steps:
      - checkout
      - run_tests

  release:
    executor: linux-amd64
    working_directory: ~/kapacitor
    steps:
      - checkout
      - deploy_release_packages

  nightly-build:
    executor: linux-amd64
    working_directory: ~/kapacitor
    steps:
      - checkout
      - run_tests
      - deploy_nightly


workflows:
  version:  2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - build
          filters:
            tags:
              only:  /^v[0-9]+(\.[0-9]+){2}(-(rc|beta)[0-9]+)?/
            branches:
              ignore:  /.*/

  nightly:
    triggers:
      - schedule:
          cron: "0 3 * * *" #3AM UTC daily
          filters:
            branches:
              only:
                - master
    jobs:
      - nightly-build
